<header>
  <nav>
    <div class="line">
      <div class="top-nav">
        <div class="logo hide-l">
          <a href="index.html">DESIGN <br /><strong>THEME</strong></a>
        </div>
        <p class="nav-text">Custom menu text</p>
        <div class="top-nav s-12 l-5">
          <ul class="right top-ul chevron">
            <li><a href="index.html">Home</a>
            </li>
            <li><a href="product.html">Product</a>
            </li>
            <li><a href="services.html">Services</a>
            </li>
          </ul>
        </div>
        <ul class="s-12 l-2">
          <li class="logo hide-s hide-m">
            <a href="index.html">DESIGN <br /><strong>THEME</strong></a>
          </li>
        </ul>
        <div class="top-nav s-12 l-5">
          <ul class="top-ul chevron">
            <li><a href="gallery.html">Gallery</a>
            </li>
            <li>
              <a>Company</a>
              <ul>
                <li><a>Company 1</a>
                </li>
                <li><a>Company 2</a>
                </li>
                <li>
                  <a>Company 3</a>
                  <ul>
                    <li><a>Company 3-1</a>
                    </li>
                    <li><a>Company 3-2</a>
                    </li>
                    <li><a>Company 3-3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
